@media (max-width: 920px) {

}

@media (max-width: 712px) {
  .flex-row-column {
    display: flex;
    flex-flow: column nowrap;
  }
  .res-w-100 {
    width: 100%;
  }
  .res-font-22 {
    font-size: 22px;
  }
  .res-Sandwish {
    display: block;
  }
  .NavBar {
    height: 60px;
  }
  .Sandwish {
    display: none;
  }
  .Nav-Search {
    width: 100%;
    display: none;
  }
  .Nav-Link {
    width: 100%;
    margin: 0;
  }
  .Nav-List {
    width: 100%;
    margin: 0;
    display: none;
  }
}
