/*-------------------------- Elements --------------------------*/
.lbl {
  border-radius: 8px;
  padding: 4px 8px;
  font-family: serif;
}
.lbl-add {
  background-color: #888;
  color: lime;
  cursor: pointer;
  text-align: center;
}
.txr {
  padding: 4px 6px;
  border-radius: 8px;
  border: none;
  font-family: serif;
}
.txr:focus {
  border: 2px solid lime;
}
.btn {
  border-radius: 6px;
  padding: 4px 10px;
  border: none;
  cursor: pointer;
  font-family: serif;
}
.npt {
  border: 1px solid #aaa;
  border-radius: 6px;
  padding: 4px 6px;
  font-family: serif;
}
.npt:focus {
  border: 2px solid rgb(20, 200, 20);
}
.npt-submit {
  background-color: rgb(110, 230, 110);
  color: #fff;
  border: none;
  cursor: pointer;
}
.npt-submit:hover {
  background-color: lime;
}
.field {
  margin: 10px auto;
}
/*-------------------------- Text --------------------------*/
.text-center {
  text-align: center;
}
.not-link {
  text-decoration: none;
}
.hide-overflow {
  overflow: hidden;
}
.wrap {
  word-break: break-all;
}
/*-------------------------- Width --------------------------*/
.w-10 {
  width: 10%;
}
.w-15 {
  width: 15%;
}
.w-20 {
  width: 20%;
}
.w-25 {
  width: 25%;
}
.w-30 {
  width: 30%;
}
.w-40 {
  width: 40%;
}
.w-50 {
  width: 50%;
}
.w-60 {
  width: 60%;
}
.w-70 {
  width: 70%;
}
.w-80 {
  width: 80%;
}
.w-85 {
  width: 85%;
}
.w-90 {
  width: 90%;
}
.w-100 {
  width: 100%;
}
.w-200p {
  width: 200px;
}
.w-300p {
  width: 300px;
}
/*-------------------------- Height - Line Height --------------------------*/
.h-5 {
  height: 5%;
}
.h-10 {
  height: 10%;
}
.h-80 {
  height: 80%;
}
.h-90 {
  height: 90%;
}
.h-100 {
  height: 100%;
}
.h-60p {
  height: 60px;
}
.fh-60 {
  height: 60px;
  min-height: 60px;
  max-height: 60px;
}
.fh-300 {
  height: 300px;
  min-height: 300px;
  max-height: 300px;
}
.fh-400 {
  height: 400px;
  min-height: 400px;
  max-height: 400px;
}
.fh-500 {
  height: 500px;
  min-height: 500px;
  max-height: 500px;
}
.fh-600 {
  height: 600px;
  min-height: 600px;
  max-height: 600px;
}
.mxh {
  max-height: 300px;
}
.h-lh-45 {
  height: 45px;
  line-height: 45px;
}
.h-lh-60 {
  height: 60px;
  line-height: 60px;
}
/*-------------------------- Background Colors --------------------------*/
.bg-original {
  background-color: rgb(160, 250, 160);
}
.bg-red {
  background-color: red;
}
.bg-w3 {
  background-color: rgba(255, 255, 255, 0.3);
}
.bg-w6 {
  background-color: rgba(255, 255, 255, 0.6);
}
.bg-w9 {
  background-color: rgba(255, 255, 255, 0.9);
}
.bg-b3 {
  background-color: rgba(50, 50, 50, 0.3);
}
.bg-b6 {
  background-color: rgba(50, 50, 50, 0.6);
}
.bg-b9 {
  background-color: rgba(50, 50, 50, 0.9);
}
/*-------------------------- Color --------------------------*/
.cl-cyan {
  color: cyan;
}
.cl-lime {
  color: lime;
}
.cl-blue {
  color: blue;
}
.cl-white {
  color: white;
}
.cl-red {
  color: red;
}
.cl-ccc {
  color: #ccc;
}
/*-------------------------- Pseudo Class --------------------------*/
.hover-aaa:hover {
  background-color: #aaa;
}
.hover-lime:hover {
  color: lime;
}
.hover-link:hover {
  background-color: rgb(20, 200, 20);
  color: #fff;
}
.hover-shadow:hover {
  box-shadow: 1px 1px 4px #999, 2px 2px 4px #999, 3px 3px 4px #999;
}
.hover-bb2sw:hover {
  border-bottom: 2px solid #fff;
}
/*-------------------------- Font Style --------------------------*/
.font-18 {
  font-size: 18px;
}
.font-22 {
  font-size: 22px;
}
.font-24 {
  font-size: 24px;
}
.font-28 {
  font-size: 28px;
}
.font-32 {
  font-size: 32px;
}
.font-42 {
  font-size: 42px;
}
.font-72 {
  font-size: 72px;
}
.bold {
  font-style: bold;
}
/*-------------------------- Border --------------------------*/
.bsb {
  border: 1px solid black;
}
.bsw {
  border: 1px solid white;
}
.bb-sb {
  border-bottom: 2px solid black;
}
.bb-2sb {
  border-bottom: 2px solid black;
}
.bb-sw {
  border-bottom: 1px solid white;
}
/*-------------------------- Border Radius --------------------------*/
.br-0 {
  border-radius: 0;
}
.br-2 {
  border-radius: 2px;
}
.br-5 {
  border-radius: 5px;
}
.br-8 {
  border-radius: 8px;
}
.brt-5 {
  border-radius: 5px 5px 0 0;
}
.brt-8 {
  border-radius: 8px 8px 0 0;
}
.brr-5 {
  border-radius: 0 5px 5px 0;
}
.brr-8 {
  border-radius: 0 8px 8px 0;
}
.brb-5 {
  border-radius: 0 0 5px 5px;
}
.brb-8 {
  border-radius: 0 0 8px 8px;
}
.brl-5 {
  border-radius: 5px 0 0 5px;
}
.brl-8 {
  border-radius: 8px 0 0 8px;
}
/*-------------------------- Margin --------------------------*/
.m-5 {
  margin: 5px;
}
.m-10 {
  margin: 10px;
}
.my-0 {
  margin: 0 auto;
}
.my-5 {
  margin: 5px auto;
}
.my-10 {
  margin: 10px auto;
}
.my-15 {
  margin: 15px auto;
}
.mx-5 {
  margin: auto 5px;
}
.mx-10 {
  margin: auto 10px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-20 {
  margin-right: 20px;
}
.mr-50 {
  margin-right: 50px;
}
.ml-10 {
  margin-left: 10px;
}
/*-------------------------- Padding --------------------------*/
.p-5 {
  padding: 5px;
}
.p-10 {
  padding: 10px;
}
.pl-10 {
  padding-left: 10px;
}
.pb-10 {
  padding-bottom: 10px;
}
.px-5 {
  padding: 0 5px;
}
.px-10 {
  padding: 0 10px;
}
.py-5 {
  padding: 5px 0;
}
.py-10 {
  padding: 10px 0;
}
/*-------------------------- Cursor --------------------------*/
.pointer {
  cursor: pointer;
}
/*-------------------------- Position --------------------------*/

/*-------------------------- Display --------------------------*/
.flex {
  display: flex;
}
.hidden {
  display: none;
}
/*-------------------------- Display-Flex --------------------------*/
.flex-column {
  display: flex;
  flex-flow: column nowrap;
}
.flex-column-wrap {
  display: flex;
  flex-flow: column wrap;
}
.flex-row {
  display: flex;
  flex-flow: row nowrap;
}
.flex-row-wrap {
  display: flex;
  flex-flow: row wrap;
}
.flex-row-column {
  display: flex;
  flex-flow: row nowrap;
}
.flex-grow {
  flex-grow: 1;
}
.center {
  align-items: center;
  align-content: center;
}
.justify-center {
  align-items: center;
  align-content: center;
  justify-content: center;
}
.space-between {
  justify-content: space-between;
}
/*-------------------------- Direction --------------------------*/
.rtl {
  direction: rtl;
}
/*------------------------- Icons -------------------------*/
.icon-link {
  cursor: pointer;
}
.icon-10 {
  width: 10px;
  height: 10px;
}
.icon-30 {
  width: 30px;
  height: 30px;
}
/*------------------------- Effects -------------------------*/
