<div class="NavBar flex-row res-flex-column">
  <div class="Sandwish">
    <i class="fas fa-bars"></i>
  </div>
  <a class="Nav-Logo cl-white text-center" href="{% url 'Home' %}">Estebyan</a>
  <div class="Nav-List flex-row res-flex-column">
    {% if  request.user.is_authenticated %}
    <a class="Nav-Link hover-link hover-bb2sw" href="{% url 'MyProfile' request.user.username %}">Account</a>
    {% else %}
    <a class="Nav-Link hover-link hover-bb2sw" href="{% url 'Login' %}">Login</a>
    {% endif %}
    <a class="Nav-Link hover-link hover-bb2sw" href="#">Docs</a>
    <a class="Nav-Link hover-link hover-bb2sw" href="#">Contact Us</a>
  </div>
  <form class="Nav-Search res-flex-column">
    <input class="Search-Input bb-sw" type="text" name="SearchInput" placeholder="Search">
    <i class="fas fa-search font-28 cl-white mx-10 icon-link Search-Icon"></i>
  </form>
</div>
